.heading
{
    color: blueviolet;
}
#heading
{
    height: 700px;
    width: 100%; 
    background-color: rgb(135, 253, 243);
    float:left;
    margin-right:10%;
}
.head
{
    margin-left: 40%;
  color: red;
}
#body
{
    size: 25px;
    color: rgb(11, 10, 10);
    margin-left: 10%;
    margin-right: 10%;
}