#image1 img
{    
    width: 250px;
    height: 300px;
}
#image3 img
{
    width: 250px;
    height: 300px;
}
.back ul li
{
    margin-top:1%;
    margin-left: 80%;
}
#page
{ 
    background-color: rgb(252, 253, 184);
    height: 1200px;
    width: 1500px;
}
.heading
{
    color: red;
    margin-left: 38%;
}
.rate1
{
    color: rgb(20, 20, 20);

}
.rate2
{
    color: rgb(19, 18, 18);
}